* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-image: linear-gradient(to right, #0476D9 , #05AFF2);
    height: 100vh;
}

/*geral*/
.barras {
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
    height: 80vh;
    width: 500px;
    background-color: white;
    border-radius: 20px;
}

.barras h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3vh;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #0476D9;
}

/*inputs*/
.caixas {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}

.estilo input {
    height: 4vh;
    width: 250px;
    margin-bottom: 2vh;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #8C8C8C;
    color: #262626;
}

input::placeholder {
    color: #BFBFBF;
    font-size: .9em;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*botão*/
.estilo button {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%);
    height: 5vh;
    width: 14vw;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #0476D9;
    box-shadow: 1px 1px 2px #404040;
}

.estilo button:hover {
    background-color: #404040;
    color: white;
    transition: .2s;
}


/*caixa de dialogo*/
.resultados span {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    height: 7vh;
    width: 250px;
    text-align: center;
    color: #ffffff;
    background-color: #05AFF2;
    box-shadow: 1px 1px 5px #404040;
}

#resultado-1 {
    top: 45vh;
}
#resultado-2 {
    top: 55vh;
}
#resultado-3 {
    top: 65vh;
}

/*final*/
.final {
    position: absolute;
    top: 97vh;
    left: 50%;
    transform: translate(-50%);
    font-weight: lighter;
    color: #ffffff;
}

/*mobile*/
@media (max-width: 600px) {
    .barras {
        width: 90vw;
    }

    .barras h1 {
        font-size: 1em;
    }

    .estilo button {
        width: 20vw;
        height: 6vh;
    }
}